
@font-face {
  font-family: "Embolema"
  src:
  url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff") format:"opentype",
  url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf") format: "truetype",
  local("RemachineScript_Personal_Use.ttf") format: "truetype";

}

@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
    }

body{
  font-size: "small"
}
p,a {
  color: maroon;
  font-family: sans-serif;
}
h1,h2{
  color: #cc6600;
  font-family: "Embolema", sans-serif;
  font-weight: bold;
  font-size: 150%;
}
h1{
  border-bottom: 1.5px solid gray;
}
/* commenting */
blockquote{
  font-style: italic;
}
