html,body{
  font-family:"Verdana", "Helvetica", "Arial", sans-serif;
  font-size: "small";
  font-weight: lighter;
  margin: 45px;
}

h1,h2{
  color: #007e7e
}
h1{
  font-size: 150%,
  font-weight: bold;
}

h2{
  font-size: 130%
}
body{
  line-height: 1.6em;
}


#guarantee{
  border-color: white;
  border-width: 2px;
  border-style: dashed;
  background-color: #a7cece;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 25px;
  padding-left: 50px;
  margin: 60px;
  background-image: url("../img/PXAD-small.gif");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;

}

#guarantee{
  font-family: serif;
  color: #444444;
  font-style: italic;
  line-height: 2em;
  font-weight: bold;
}

@media screen and (min-width: 841px) {
  #guarantee{
    margin-right: 250px;
  }

}
@media screen and (max-width: 840px) {
  #guarantee{
    margin-right: 30px;
  }
}

#elixirs{
  border-style: solid;
  border-color: #007e7e;
  border-width: 1.5px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 5px;
  width: 200px;
  text-align: center;
  margin-left: 20px;
  line-height: 1em;

  background-image: url("../img/beer-small.gif");
  background-repeat: repeat-x;
  background-size: auto;
  background-position: top left;

  float: right;
}

/* parent descendent */
#elixirs h2{
  color: black;
}
#elixirs h3{
  color: crimson;
}

#header{
text-align: center; 
}

#footer{
  font-size: 50%;
  text-align: center;
  line-height: normal;
  margin-top: 30px;
  color: gray;
  font-weight: lighter;
}

.cd{
  font-style: italic;
}
.artist{
  font-weight: bold;
}

a:link, a:visited{
  color: black;
  text-decoration: underline;
}

a:hover{
  color: #007e7e;
}
